<main class="content">
    {{#if index}}
        {{> filters}}
    {{/if}}
    <section id="posts">

        {{#each photos}}
            {{> post}}
        {{/each}}

    </section>

    {{#if index}}
        {{> addPost}}
    {{/if}}
</main>
