<main class="content">
    <section id="posts">
        <div class="container">
            <div id="cards-container" class="row">
                {{#each cards}}
                    {{> card}}
                {{/each}}
            </div>
        </div>
    </section>

    {{> addCard }}

</main>
